<div class="de-modal">
    <!--<ng-container *ngIf="!isTemplateModal">-->
        <!--<h1 class="de-page-header__title">{{modalConfig.title}}</h1>-->
        <!--<p class="body">{{modalConfig.body}}</p>-->
        <!--<div class="de-button-group">-->
            <!--<button-->
                    <!--class="de-button de-button&#45;&#45;secondary"-->
                    <!--(click)="this.buttonAction('secondaryButton')"-->
            <!--&gt;{{modalConfig.secondaryButton.title}}</button>-->
            <!--<button-->
                    <!--class="de-button de-button&#45;&#45;primary"-->
                    <!--(click)="this.buttonAction('primaryButton')"-->
            <!--&gt;{{modalConfig.primaryButton.title}}</button>-->
        <!--</div>-->
    <!--</ng-container>-->
    <!--<ng-container *ngIf="isTemplateModal">-->
        <!--<ng-content *ngTemplateOutlet="modalConfig.template"></ng-content>-->
    <!--</ng-container>-->
</div>