:host div {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  top: 0;
  border-radius: 0.3rem 0.3rem 0 0;
  max-width: calc(100% - (-1px * 2 ));
  box-shadow: none;
  border: none;
  background: none transparent;
  border-bottom: 1px solid #d4d6d5;
  font-size: 1rem;
  display: flex;

  //a .active {
  //  border: 1px solid black;
  //}
}